[submodule "components/ttn-esp32"]
	path = components/ttn-esp32
	url = https://github.com/manuelbl/ttn-esp32.git
[submodule "components/copilot-configs"]
	path = components/copilot-configs
	url = https://github.com/copilot-prxject/copilot-configs
