CONFIG_BT_ENABLED=y
CONFIG_BT_NIMBLE_ENABLED=y

CONFIG_EXT_CON_DEBUG_LOGGING=y
CONFIG_EXT_CON_LORA_ENABLE=y
CONFIG_EXT_CON_PERIPHERAL_ADDRESS="c8:c9:a3:c6:5f:8a"

CONFIG_LWIP_PPP_SUPPORT=y

CONFIG_TTN_LORA_FREQ_EU_868=y
CONFIG_TTN_RADIO_SX1276_77_78_79=y

CONFIG_COMPILER_OPTIMIZATION_LEVEL_RELEASE=y
CONFIG_COMPILER_OPTIMIZATION_SIZE=y
CONFIG_OPTIMIZATION_LEVEL_RELEASE=y
